.div-container-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    
}

.table{
    width: 65%;
}

.div-search{
    width: 50%;
}

button > i > img {
    width: 25px;
    height: 25px;
}

.bt-register-estab{
    height:40px;
}



body{text-align: center; padding-top: 50px}

.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
  font-size: 2.5em
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}