.dialog{
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0;
    margin:0;
    flex-direction: row;
    align-items: flex-start;
}

.div-info{
    width: 50%;
}

.div-avaliation{
    width: 50%;
}
.div-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin-top: 5px;
    border: 1px solid white;
    align-self: flex-start;
    margin-bottom: 5px;
}

.lbl-titulo{
    
    font-weight: 600;
    margin-left: 5px;

    margin-bottom: 5px;
    display: block;
}

div > div > h2{
margin: 0;
}
.bt-avaliar{
  background-color: #4CAF50;
  margin: 0;
  margin-left: 25px;
  height: 25px;
  text-align: center;
  padding: 1px;
}




body{text-align: center; padding-top: 50px}

.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
  font-size: 2.5em
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}