<div id="container" class="m-2 mt-1">
    <div class="div-logo">
        <img src="../../../assets/icons/logo-TraCert.jpg" alt="">
    </div>
    <div class="div-user-menu ">

    <img *ngIf="filter.user.username != '' " src="../../../assets/icons/person.png" alt="">
        
    <label *ngIf="filter.user.name != 'Login'" class="lbl-user">{{filter.user.name}}</label>

    <label *ngIf="filter.user.name == 'Login'"  class="lbl-user">
        <a routerLink="/login">{{filter.user.name}}</a>
    </label>
    <button type="button" class="bt-menu btn p-0" mat-button [matMenuTriggerFor]="menu">
        <i>
            <img src="../../../assets/icons/menu.png" alt="">
        </i>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Sobre</button>
        <button mat-menu-item>Ajuda</button>
        <button mat-menu-item>Fale conosco</button>
    </mat-menu>
    </div>
</div>