<div class="div-container-list mt-5 mb-4">
<h3 class="">Cadastro de estabelecimento</h3>

<div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="Nome" aria-label="Nome" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="street" [(ngModel)]="street" placeholder="Rua" aria-label="Rua" aria-describedby="basic-addon2">
        <input type="text" class="form-control" name="number" [(ngModel)]="number" placeholder="Numero" aria-label="Numero" aria-describedby="basic-addon2">
      </div>
      
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="Cidade" aria-label="Cidade" aria-describedby="basic-addon2">
        <input type="text" class="form-control" name="state" [(ngModel)]="state" placeholder="Estado" aria-label="Estado" aria-describedby="basic-addon2">
      </div>
      
      <div class="input-group">
        <span class="input-group-text">Descrição</span>
        <textarea maxlength="255" class="form-control" name="description" [(ngModel)]="description" aria-label="With textarea"></textarea>
      </div>
</div>

      
<button type="button" (click)="create()" class="btn btn-dark mt-4 bt-cadastrar">Cadastrar</button>
</div>
